<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사용자 등록하기</title>
</head>
<body>
  <h1>사용자 등록 성공</h1>
</body>
</html>
