<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>경기도교육청 자가진단 자동화 서비스</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section class="hero is-primary">
      <div style="text-align: center;" class="hero-body">
        <h1 id="title" class="title"><a style="color: white" href="/">경기도교육청 학생 건강상태 자가진단 자동화</a></h1>
        <h2 class="subtitle is-6">매일 새벽 3시에 자가진단을 자동으로 진행합니다!</h2>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-two-thirds">
            <div class="box">
              <div class="content">
                <h1 class="title is-3"><%= message %></h1>
                <h2 class="title is-5"><%= error.status %></h2>
                <pre><%= error.stack %></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      document.addEventListener(
        "keydown",
        function (event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            findSchool();
          }
        },
        true
      );

      function setSchool(schulCode, schulNm) {
        document.querySelector("#schulCode").value = schulCode;
        document.querySelector("#schulNm").value = schulNm;
      }

      let openWin;
      function findSchool() {
        window.name = "parentForm";
        openWin = window.open(
          "./find?q=" + document.getElementById("schulNm").value,
          "childForm",
          "width=570,height=350"
        );
      }
    </script>
  </body>
</html>
