<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학교 찾기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
  </head>
  <body>
    <section class="section">
      <form method="GET">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input" type="text" name="q" placeholder="학교 이름" value="<%= q %>" />
          </div>
          <div class="control">
            <input class="button" type="submit" value="찾기" />
          </div>
        </div>
      </form>
      <hr />
      <span id="loading">검색중...</span>
      <ul id="list"></ul>
    </section>

    <script type="text/javascript">
      const ul = document.getElementById("list");
      const param = location.search.substr(location.search.indexOf("?q="));

      fetch("https://schoolmenukr.ml/code/api" + param)
        .then((response) => response.json())
        .then((json) => {
          for (const [index, school] of json.school_infos.entries()) {
            let li = document.createElement("li");
            li.innerHTML = `<span id="${index}.code" style="display: none">${school.code}</span><a href="#" id="${index}" onclick="sendData(this);">${school.name}</a> | ${school.address}`;
            ul.appendChild(li);
          }
          if (json.school_infos.length == 0) {
            document.getElementById("loading").innerHTML = "검색 결과가 없습니다.";
          } else {
            document.getElementById("loading").style.display = "none";
          }
        });

      function sendData(obj) {
        opener.document.getElementById("orgName").value = obj.innerHTML;
        opener.document.getElementById("orgCode").value = document.getElementById(
          obj.id + ".code"
        ).innerHTML;
        window.close();
      }
    </script>
  </body>
</html>
