<div class="box">
  <h2 class="title is-3">개인정보취급방침</h2>
  <div class="content">
    <h2 class="subtitle is-5">수집하는 개인정보 항목</h2>
    <p>성명, 학교, 생년월일, 교육부 건강상태 자가진단 사이트 비밀번호</p>
    <h2 class="subtitle is-5">수집하는 개인정보의 이용 목적</h2>
    <p>
      사용자가 입력한 정보를 바탕으로 교육부 건강상태 자가진단 자동화 서비스를 제공합니다. 사용자의
      정보는 <a href="https://hcs.eduro.go.kr/">교육부 자가진단 사이트</a>에 전송되어 자가진단을
      완료하기 위해 사용됩니다.
    </p>
    <h2 class="subtitle is-5">개인정보의 보유 및 이용기간</h2>
    <p>
      수집된 개인정보는 사용자 등록일로부터 서비스를 제공하는 기간 동안에만 서버에 저장되고
      이용됩니다. 또한 사용자의 요청에 의해 삭제가 가능합니다.
    </p>
  </div>
</div>
