<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학생 건강상태 자가진단 자동화 서비스</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section class="hero is-primary">
      <div style="text-align: center;" class="hero-body">
        <h1 id="title" class="title">
          <a style="color: white;" href="/">학생 건강상태 자가진단 자동화 서비스</a>
        </h1>
        <h2 class="subtitle is-6">매일 아침 6시에 자가진단을 자동으로 완료합니다!</h2>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-two-thirds">
            <%- content %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
